<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>945276121037-ktcpqksmgk3sus2hk142acbenkpneg6r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.945276121037-ktcpqksmgk3sus2hk142acbenkpneg6r</string>
	<key>API_KEY</key>
	<string>AIzaSyCULqBj38YF_JjOpc80pqE2Z_MSs5xdTcY</string>
	<key>GCM_SENDER_ID</key>
	<string>945276121037</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ethan.ledgercpa.app</string>
	<key>PROJECT_ID</key>
	<string>ledger-cpa</string>
	<key>STORAGE_BUCKET</key>
	<string>ledger-cpa.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:945276121037:ios:da633e65088f82361f5e84</string>
</dict>
</plist>